<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/layouts.css') }}">
{% block head %} {% endblock head %} 
</head>

<body>
<div class="site-branding" img="{{ url_for('static', filename='images/cropped-SH_Title_sm-scaled-1.jpg') }}"> 



    <nav>
        {# <a id="all" href="{{ url_for('all_tasks') }}">All tasks</a>
        <a id="create" href="{{ url_for('create') }}">Create a task</a>
        <a id="incomplete" href="{{ url_for('incomplete_tasks') }}">Incomplete tasks</a> #}
    </nav>
   
    <h1 style="padding: 10px; border: 10px solid grey; margin=30px; display:inline; color:grey">SARAVJI'S HUT</h1>

</div>

    <h2>{% block subtitle %} {% endblock subtitle %}</h2>


    {% block content %} {% endblock content %}
</body>
</html>