{% extends 'base.jinja2' %}

{% block head %}
{% endblock head %}

{% block content %}

<body>


<br>
<header class="page-header">
<h1 class="page-title">Saravji’s Hut</h1>
</header>


<div class="page-content">

<h2>What Saravji’s Hut is</h2>
<ul>
<li>A place where knowledge is shared. Everybody is welcome.</li>
<li>A project build out of a passion for educating and mentoring.</li>
<li>Focused on the Learner.</li>
</ul>

<h2>What Saravji’s Hut is not</h2>
<ul>
<li>A place where courteous behavior will be tolerated.</li>
<li>A place where polarizing and/or divisive comments will be tolerated.</li>
<li>Focused on the instructor.</li>
<li>An attempt to replace primary income.</li>
</ul>
<iframe width="640" height="360" src="https://www.youtube.com/embed/ZsVED9jf21U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>
<h2>How you can contribute:</h2>
<ul>
<li>Spread the word</li>
<li><a href="https://www.youtube.com/channel/UCbHQVBE_i-4FlJUcU7Inl-g?sub_confirmation=1">Subscribe to the YouTube Channel</a></li>
<li><a href="https://twitter.com/intent/follow?screen_name=Saravji">Follow on Twitter</a> to receive notifications about new uploads and other related news</li>
<li>give constructive feedback</li>
</ul>
<h2>Available Materials</h2>
<ul>
<li><a href="https://github.com/Saravji/saravjis_hut/blob/master/FDN_Prog/README.md">Foundations of Programming (Python)</a> - Learning Path</li>
<li><a href="https://github.com/Saravji/saravjis_hut/blob/master/dev_ops/README.md">Collection of Dev Ops Nuggets</a></li>
<li><a href="https://github.com/Saravji/saravjis_hut/blob/master/DS_ML/FS_FE/README.md">Feature Selection and Feature Engineering</a> - Educational Talk</li>
</ul>
<h2>Materials in Development</h2>
<ul>
<li>Version 2 of Foundations of Programming Learning Path:</li>
<li>Foundations of Programming (Python) Intermediary Formats</li>
<li>Foundations of Programming (Python) additional Modules</li>
<li>python cheat sheets</li>
</ul>
<h2>Planned Materials</h2>
<ul>
<li>ML / DS: visualizations</li>
<li>ML / DS: fundamentals</li>
<li>CS: Algorithms</li>
<li>Python: web service with django</li>
<li>Python for Beginners</li>
<li>Python Intermediate</li>
<li>git</li>
</ul>
<h2>Terms of Use</h2>
<ul><li>All materials unless noted otherwise are the intellectual property of Saravji’s Hut.</li>
<li>All materials listed and/or linked as “free” are available to all at no charge. However, this does expressively excludes downloading and/or permanently saving a copy of the materials in any form or on any medium without express, written consent.</li>
<li>Links to materials listed and/or linked as “free” are expressively allowed and encouraged to be shared.</li>
<li>Materials made available thru any other formats are being made available on an individual basis.</li>
</ul>
<h2>Expected Conduct</h2>
<ul>
<li>For the time being, I’ll keep comments open on all platforms.</li>
<li>I expect that everyone treats these areas as a community space and behaves towards others the same way they want to be treated:</li>
<li>be courteous, polite and respectful.</li>
<li>don’t talk about religious, political or other polarizing topics.</li>
<li>I expressly reserve the option to close down comments. (And no, I will not be spending my time moderating, I rather create content.)</li>
</ul>
<h2>About Piracy</h2>
Effectively, I cannot prevent anyone from pirating or using my works in a way different than intended.
However, I ask to consider that the materials made available constitute a significant investment. If it would be your efforts / time / monetary contributions, would you not appreciate if folks would show ethical behavior?
So, why not support and respect the rights?

</body
{% endblock content %}